.box {
    display: inline-block;
    letter-spacing: 0.3em;
    word-spacing: .7em;
    line-height: .7em;
    text-align: center;
    width: 250px;
    height: 250px;
    text-align: justify;
    color: white;
    margin-top: 2em;
}
.box-1 {
    font-size: 1.4em;
    background-color: rgb(27, 69, 67);
    margin-right: 10px;
    margin-left: 10px;
    padding: 2em;
    border: 3px solid darkcyan;
} 
.box-2 {
    font-size: 1.4em;
    background-color: rgb(21, 80, 52);
    margin-right: 5px;
    padding: 2em;
    border: 3px dashed black;
} 

.box-3 { 
    font-size: 1.4em;
    background-color: rgb(46, 44, 93);
    margin-right: 5px;
    padding: 2em;
    border: 3px dotted rgb(15, 15, 15);
} 

.box-4 {
    font-size: 1.4em;
    background-color: rgb(32, 35, 52);
    margin-right: 5px;
    padding: 2em;
    border: 3px double rgb(240, 234, 234);
} 
.box-5 {
    font-size: 1.4em;
    background-color: rgb(125, 55, 171);
    margin-right: 5px;
    padding: 2em;
    border: 3px outset rgb(15, 15, 15);
} 