.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    color: white;
    font-size: 1.8em;
}
.box1{
    background-color: gray;
}
.box2{
    background-color: red;
}
.box3{
    background-color: black;
}
.box4{
    background-color: rgb(252, 235, 5);
}
.box5{
    background-color: rgb(8, 12, 107);
}
.box6{
    background-color: rgb(233, 5, 5);
}
.box7{
    background-color:#F76805;
}
.box8{
    background-color:#05F789;
}
.box9{
    background-color:#E8B509;
}
