body {
    background-color: rgb(24,24,24,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 11em;
    color: red;
}