.body {
    padding: 0xp;
    margin-bottom: 0px;
    margin: 0xp;
}

h1 {
    text-align: center;
    color: aliceblue;
    background-color: rgb(0, 0, 61);
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: aliceblue;
    background-color: rgb(0, 0, 61);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}    
.box-img {
    padding-top: 11px;
    padding-left: 8px;
}

.img-size {
    border: solid transparent;
    border-radius: 17px;
    width: 425px;
}

.watchdogs1 {
    height: 15em;
}

